/* Helpers
  =============== */

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

// Display
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

// Vertical center
.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

// Display State
.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.green {
  color: $green;
}

.pink {
  color: $secondary-color;
}

.blue {
  color: $primary-color;
}

.yellow {
  color: darken($yellow, 10%);
}

.crypto {
  p {
    margin-bottom: 0.5rem;
  }
}

// Screen reader text for accessibility
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.spinnerContainer {
  display: block;
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 1031;
}

.spinnerCircle {
  animation: 400ms linear infinite spinner;
  border-bottom: 2px solid transparent;
  border-left: 2px solid #29d;
  border-radius: 50%;
  border-right: 2px solid transparent;
  border-top: 2px solid #29d;
  box-sizing: border-box;
  height: 18px;
  width: 18px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
